<div class="d-none">
    users
    <a href="#" class="list-group-item list-group-item-action py-3 fs-6" onclick="navigateTo('admin-dashboard')">
        <i class="fas fa-home me-2"></i> back
    </a>
    <br>
    <a href="#" class="list-group-item list-group-item-action py-3 fs-6" onclick="navigateTo('view-user', getData(12))">
        <i class="fas fa-users me-2"></i> View User
    </a>
</div>

<div class="container-fluid mb-4" id="studentDashboard">
    <h3>Institution Users</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" onclick="dashboard()">Home</a></li>
        <li class="breadcrumb-item"><a href="#" onclick="navigateTo('admin-dashboard')">Admin</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
    <br>
    <div class="d-flex justify-content-end my-3">
        <a href="#"   onclick="navigateTo('admin-dashboard')">Add User</a>
    </div>
    <br>
    <div class="input-group input-group-lg rounded-4 border my-3">
        <input type="search" name="search" class="form-control border-0 bg-transparent search-input">
        <button class="btn search-btn text-muted ms-2" type="button" onclick="loadData()">Search</button>

    </div>
    <div class="d-flex justify-content-start  mb-2">

        <select id="order_filter" class="form-select  bg-transparent form-select-md me-1 " onchange="loadData()">
            <option value="reg_date DESC">Newest First</option>
            <option value="reg_date ASC">Oldest First</option>
        </select>

        <select class='form-select form-select-md  bg-transparent select save-state f-sel ms-1' name='institution_class'>

        </select>
    </div>

    <div class="d-flex justify-content-between text-end my-4">
        <small>Total Records: <span id="total_records_label">0</span></small>

    </div>
    <div id="results" class="mb-4"></div>

    <hr>
    <div class="input-group border rounded-pill d-flex my-4">
        <button class="btn " onclick="changePage(-1)">Prev</button>
        <select id="page_selector" class="form-select text-center border-0 bg-transparent" onchange="goToPage(this.value)">
            <!-- Options are dynamically generated -->
        </select>
        <button class="btn " onclick="changePage(1)">Next</button>
    </div>
    <select id="page_size" class="form-select form-select-md mx-auto mt-3 bg-transparent w-auto rounded-pill text-center" onchange="updatePageSize(this.value)">
        <option value="10">10 per page</option>
        <option value="25">25 per page</option>
        <option value="50">50 per page</option>
    </select>
</div>
<div id="list_template" style="display: none;">
    <div class="mb-3 p-2 py-3 text-muted ">
        <h5>@profile_name</h5>
        <p class="fw-light">
            <span class="fw-normal text-black">Account No:</span> @account_no
            &nbsp;|&nbsp; <span class="fw-normal text-black">Owner:</span> @user_name
            &nbsp;|&nbsp; <span class="fw-normal text-black">Role:</span> @institution_role_name

        </p>
        <a class="btn btn-sm  table-button" href="#" onclick="navigateTo('view-user', getRecord(@item_id))">
            <span>View Details</span>
        </a>

    </div>
    <hr>
</div>


<!-- Template for Table Item (Row) -->
<template id="table_template">
    <tr>
        <td>@count</td>

        <td>@user_name</td>
        <td>@profile_name</td>
        <td>@account_no</td>
        <td>@institution_role_name</td>

        <td>@status_name</td>
        <td>
            <a class="btn btn-sm  table-button" href="#" onclick="navigateTo('view-user', getData(@item_id))">
                <span>View</span>
            </a>

        </td>
    </tr>
</template>
<script>
    function getData(id) {
    console.log('sts:')
        return {
            teachers: [
                { id: 1, name: 'Mr. Moyo' },
                { id: 2, name: 'Ms. Banda' }
            ],
            students: [
                { id: 10, name: 'John' },
                { id: 11, name: 'Lindiwe' }
            ],
            id: 'tapfuma tanha',
            name: '12',
            role: 'admin'
        };
    }
</script>