<div class="container py-4 mx-0 px-0" id="studentDashboard">
    <div class="mx-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="green-text fw-bold mb-0">
                <i class="ph ph-arrow-left me-2" onclick="dashboard()" style="cursor:pointer"></i>
                Calendar
            </h5>
            <button class="btn  dark-bg" type="button" onclick="get_calendar_periods(true)"><i class="ph ph-arrows-clockwise"></i></button>

        </div>
        <br>
        <div class="custom-select-container text-end ">
            <select class="custom-select-display " name="institution_period" onchange="loadData()">

            </select>
        </div>

    </div>


    <div id="results" class="my-5 mx-2"></div>
    <div id="calendarContainer" class="my-5 mx-2"></div>
    <div id="eventPills" class="my-5 mx-2"></div>
    <div id="eventDetails" class="mt-3 px-0 mx-0"></div>

    <div class="input-group d-none shadow-sm border rounded-pill mb-3">
        <button class="btn btn-outline-secondary btn-sm rounded-start-pill" onclick="changePage(-1)">Prev</button>
        <select id="page_selector" class="form-select text-center border-0 bg-white form-select-sm"  onchange="goToPage(this.value)">
            <!-- Dynamic page options -->
        </select>
        <button class="btn btn-outline-secondary btn-sm rounded-end-pill" onclick="changePage(1)">Next</button>
    </div>

    <div class="text-center d-none">
        <select id="page_size" class="form-select form-select-sm bg-white rounded-pill w-auto d-inline-block text-center" onchange="updatePageSize(this.value)">
            <option value="10">10 per page</option>
            <option value="25">25 per page</option>
            <option value="50">50 per page</option>
            <option value="2500" selected>250 per page</option>
        </select>
    </div>
</div>

<!-- Hidden template -->
<div id="list_template" style="display: none;">
    <a href="#" onclick="navigateTo('view-guardian', getRecord(@item_id))" class="text-decoration-none text-dark">
        <div class="card shadow-sm border-0 rounded-3 mb-3">
            <div class="card-body px-4 py-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="mb-0 text-primary fw-semibold">@item_name <small class="text-muted">| @guardianType_name</small></h5>
                    <i class="fas fa-chevron-right text-muted"></i>
                </div>

                <p class="mb-0 small text-muted">
                    <i class="fas fa-phone me-2 text-dark"></i><span class="text-dark fw-medium">Phone:</span> @phone_name<br>
                    <i class="fas fa-envelope me-2 text-dark"></i><span class="text-dark fw-medium">Email:</span> @email_name<br>
                    <i class="fas fa-briefcase me-2 text-dark"></i><span class="text-dark fw-medium">Occupation:</span> @occupation_name
                </p>
            </div>
        </div>
    </a>
</div>