<div class="container px-3 py-4">
    <div class="row g-3">


        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">name</h6>
                <p class="mb-0 fw-semibold">{{name}}</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">phone</h6>
                <p class="mb-0 fw-semibold">{{phone}}</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">email</h6>
                <p class="mb-0 fw-semibold">{{email}}</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">occupation</h6>
                <p class="mb-0 fw-semibold">{{occupation}}</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">guardian Type</h6>
                <p class="mb-0 fw-semibold">{{guardianType}}</p>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">Date Registered</h6>
                <p class="mb-0 fw-semibold">{{reg_date}}</p>
            </div>
        </div>

        <div class="col-12">
            <div class="card shadow-sm p-3 rounded-3 bg-white">
                <h6 class="text-muted small mb-1">Recorded By</h6>
                <p class="mb-0 fw-semibold">{{creator}}</p>
            </div>
        </div>


    </div>

    <div class="list-group rounded-3 shadow-sm mt-4">
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center py-3 fs-6" onclick="navigateTo('guardians')">
            <i class="fas fa-arrow-left fa-lg fa-fw me-3 text-primary"></i>
            <span>Back to Guardians</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center py-3 fs-6" onclick="navigateTo('edit-guardian', getRecord({{iD}}))">
            <i class="fas fa-pen-to-square fa-lg fa-fw me-3 text-success"></i>
            <span>Edit Guardian</span>
        </a>
       <!-- -->
    </div>
</div>