<div class="container mx-0 mt-4 px-0 view" id="view-guardian">
    <div class="mx-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="green-text fw-bold mb-0">
                <i class="ph ph-arrow-left me-2" style="cursor:pointer" onclick="goBackView()"></i>
                View Guardian
            </h5>
        </div>
    </div>
        <br>

        <!-- Display Section -->
        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Name:</div>
            <div class="mt-1">{{name}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Phone:</div>
            <div class="mt-1">{{phone}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Email:</div>
            <div class="mt-1">{{email}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Occupation:</div>
            <div class="mt-1">{{occupation}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Guardian Type:</div>
            <div class="mt-1">{{guardianType}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Date Registered:</div>
            <div class="mt-1">{{reg_date}}</div>
        </div>

        <div class="p-3 px-4 border-bottom">
            <div class="text-green fw-semibold">Recorded By:</div>
            <div class="mt-1">{{creator}}</div>
        </div>
    <div class="my-4">
        <!-- Actions -->
        <div class="m-4 my-5">


            <button type="button" class="btn dark-bg text-white w-100 rounded-3" onclick="navigateTo('edit-guardian', getRecord({{iD}}))">
                <i class="fas fa-pen-to-square me-2"></i> Edit Guardian
            </button>
        </div>
        <br>
    </div>
</div>